<div class="row">
	<div class="col-md-4 col-md-offset-2">
		<h1>Add a Todo</h1>

		<% if(error!=null){ %>
			<p class="bg-danger">
			<% for(err in error.invalidAttributes){ %>
				<%= err %> : <%= JSON.stringify(error.invalidAttributes[err][0].rule) %> <br />
			<% } %>
			</p>
		<% } %>

		<form action="/todos/create">
  			<div class="form-group">
    			<label>Name</label>
    			<input type="text" class="form-control" name="name" placeholder="Name">
  			</div>

  			<div class="form-group">
    			<label>Description</label>
    			<input type="text" class="form-control" name="description" placeholder="Description">
  			</div>

			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>